:root {
  --slide-distance: 200px;
  --slide-animation-duration: 2s;
  --ease-function: ease-in-out;
}
@media (max-width: 1050px) {
  :root {
    --slide-distance: 70px;
  }
}

.rotate-animation {
  animation: spin 2s linear infinite;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.flip-animation {
  animation: flip 9s ease-in-out infinite;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
@keyframes flip {
  0% { transform: scaleX(1); }
  25% { transform: scaleX(-1); }
  50% { transform: scaleX(1); }
  75% { transform: scaleX(-1); } 
  100% { transform: scaleX(1); }
}

@keyframes reverseFlip {
  0% { transform: scaleX(1) rotate(0deg); }
  25% { transform: scaleX(-1) rotate(0deg); }
  50% { transform: scaleX(1) rotate(180deg); }
  75% { transform: scaleX(-1) rotate(180deg); }
  100% { transform: scaleX(1) rotate(360deg); }
}

.slide-fade {
  animation: slideFade var(--slide-animation-duration) var(--ease-function) infinite;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateX(calc(var(--slide-distance) * -1)) scaleX(0);
  }
  40% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: scaleX(1);
  }
  60% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(var(--slide-distance)) scaleX(0);
  }
}

